
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Employees</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>

  <body>

	<div class="container">
	  
	  <nav class="navbar navbar-default">
		<div class="container-fluid">
		  
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Employess</a>
		  </div>

		</div>
	  </nav>

	<div class="container">
		
		<div class="row">
			<div class="col-sm-2">
				Search:
			</div>
			<div class="col-sm-2">
				<input type="text" id="txt-email" name="email" placeholder="email" class="form-control">
		  	</div>
		  	<div class="col-sm-2">
				<button id="btn-buscar" class="btn btn-primary" >search</button>
		  	</div>
		</div>
		
		<div class="row" id="div-employees">
			<table id="tb-employees" class="table table-striped table-hover" >
				<thead>
				<tr>
					<th>#</th>
   					<th>NAME</th>
   					<th>EMAIL</th>
   					<th>POSITION</th>
   					<th>SALARY</th>   					
				</tr>
				</thead>
				<tbody>
				</tbody>
				
			</table>
		</div>
		
	  </div>

	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="modal-Employee" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Employee</h4>
      </div>
      <div class="modal-body">
        
        <form>

		  <div class="form-group">
		    <label for="text">Email address</label>
		    <input type="text" class="form-control" id="name" readonly >
		  </div>

		  <div class="form-group">
		    <label for="text">email</label>
		    <input type="text" class="form-control" id="email" readonly>
		  </div>

		  <div class="form-group">
		    <label for="text">phone</label>
		    <input type="text" class="form-control" id="phone" readonly>
		  </div>

		  <div class="form-group">
		    <label for="text">address</label>
		    <input type="text" class="form-control" id="address" readonly>
		  </div>

		  <div class="form-group">
		    <label for="text">position</label>
		    <input type="text" class="form-control" id="position" readonly>
		  </div>

		  <div class="form-group">
		    <label for="text">salary</label>
		    <input type="text" class="form-control" id="salary" readonly>
		  </div>

		  <div class="form-group">
		    <label for="text">skills</label>
		    <div id="skills" ></div>
		  </div>

		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>		
	<script src="functions.js"></script>
  </body>
</html>
